@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  color: #ffffff;
}
button {
  cursor: pointer;
}
.rodada {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 415px;
  width: 100%;
}

.head-rodada {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0.5rem;
  background-color: rgb(138, 185, 157);
}

.head-rodada button {
  background-color: rgb(138, 185, 157);
  text-align: center;
  cursor: pointer;
  max-height: 100%;
}

.head-rodada h2 {
  color: black;
}

.jogos {
  max-width: 415px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.jogos p {
  align-self: center;
  color: black;
}
.jogos ul {
  display: flex;
  flex-direction: column;
}

.jogos ul li {
  list-style-type: none;
  display: grid;
  max-height: 40px;
  grid-template-columns: 2fr 0.1fr 0.1fr 0.1fr 2fr 0.1fr 0.1fr;
  gap: 1rem;
  padding: 0.2rem;
  align-items: center;

  /* justify-content: center;
  align-items: center; */
}
.jogos ul li span {
  align-self: center;
  margin: 0 auto;
  list-style-type: none;
  color: black;
}

.jogo button {
  border-radius: 50%;
  padding: 0.2rem;
  background-color: rgb(138, 185, 157);
}
.jogo input {
  max-width: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;

  color: black;
  background-color: white;
  border: 1px solid black;
  font-size: 1.5rem;
}

.jogos ul > button {
  margin-top: 1rem;
  padding: 0.25rem;
  width: 100%;
  background-color: rgb(138, 185, 157);
}

@media (max-width: 1200px) {
  .rodada {
    margin: 0 auto;
    max-width: 800px;
    flex-wrap: wrap;
  }
  .jogos {
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
  }
  .jogos ul {
    width: 100%;
  }
}
